<h1>Upsert Plantilla</h1>
<form method="post">
    <label>ID Hospital: </label>
    <input type="text" name="HospitalCod" class="form-control" />
    <label>ID Sala: </label>
    <input type="text" name="SalaCod" class="form-control" />
    <label>ID Empleado: </label>
    <input type="text" name="EmpleadoNo" class="form-control" />
    <label>Apellido: </label>
    <input type="text" name="Apellido" class="form-control" />
    <label>Funcion: </label>
    <input type="text" name="Funcion" class="form-control" />
    <label>Turno: </label>
    <input type="text" name="Turno" class="form-control" />
    <label>Salario: </label>
    <input type="text" name="Salario" class="form-control" />
    <button class="btn btn-info">Insertar/Update</button>
</form>